---
- hosts: ninkynonk
  vars:
    http_port: 80
    max_clients: 200
    project: active_sky
    ruby_compiler: ruby
    ruby_version: 2.1.1
  remote_user: user
  sudo: true
  tasks:
  - name: Create active_sky user
    # Use python passlib
    action: user name=active_sky update_password=always groups=sudo password=$6$rounds=100000$X0dLo4kO5Wur4Kfv$7BUHaKBeW0fs5ElMBwDrVehSkLTHLGwOwb1DNZMU5CxRh8ZxlIXYw7rPFWeO5/fMgAPHIJJjvf2tdyJ5hOq44.
  - name: Install necessary packages
    apt: pkg={{ item }} state=latest
    with_items:
      - build-essential
      - git
  - name: Install postgres
    apt: pkg={{ item }} state=latest
    with_items:
      - postgresql
      - libpq-dev
  - name: Download ruby-install
    get_url:
      url: https://github.com/postmodern/ruby-install/archive/v0.4.1.tar.gz
      dest: /home/{{ansible_ssh_user}}/ruby-install-0.4.1.tar.gz
  - name: Extract ruby-install
    shell: tar -xzvf ruby-install-0.4.1.tar.gz
  - name: Install ruby-install
    sudo: yes
    shell: "cd /home/{{ansible_ssh_user}}/ruby-install-0.4.1; make install"
  # Install on project's user directory - probably need to install ruby global as well?
  - name: "Install Ruby"
    sudo: yes
    sudo_user: active_sky
    shell: /usr/local/bin/ruby-install {{ruby_compiler}} {{ruby_version}} creates=~/.rubies/{{ruby_version}}
    when: ruby_compiler is defined

# Install nginx - not necessary
# Links:
# https://github.com/hatoishi/ansible-dev/blob/master/ruby-install/tasks/main.yml
